.navbar-wrapper {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.navbar-link {
    color: black;
    margin: 5px;
    text-decoration: none;
    width: fit-content;
    border: none;
    background-color: white;
}

.left-links {
    display: flex;
    align-items: center;
}


.nav-icon {
    margin: 10px;
}