.eventListContainer {
    background-color: gray;
    padding: 25px;
}

.user-content {
    padding: 50px;
    background-color: lightblue;
}

.eventListItem {
    margin: 10px;
    background-color: white;
    font-size: 18px;
}

.eventListItemPic {
    width: 100px;
    height: 100px;
}

.tournament-info-container {
    margin-left : 15px;
}

.tournament-title {
    font-size: 20px;
}

.favorite-btn {
    background-color: transparent !important;
    border: transparent 2px solid !important;
    padding: 10px;
}